/* style.css */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f9;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100vh;
}

.container {
	text-align: center;
	padding: 0 20px;
}

.content {
	text-align: justify;
	max-width: 1024px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}


h1 {
	color: #4a90e2;
	margin-bottom: 20px;
}

h2 {
	margin-top: 20px;
}

input[type="file"] {
	margin-bottom: 2px;
	padding: 10px;
	border: 2px solid #4a90e2;
	border-radius: 5px;
	font-size: 16px;
	margin-right: 20px;
	margin-left: 20px;
}


button,
.button {
	background-color: #4a90e2;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	margin: 5px;
	text-decoration: none;
	/* Ensure links styled as buttons have no underline */
}

button:hover,
.button:hover {
	background-color: #357ab8;
}

/* Outline button styles */
.button-outline {
    background-color: transparent;
    color: #4a90e2;
    border: 2px solid #4a90e2;
}

.button-outline:hover {
    background-color: #4a90e2;
    color: white;
}

#linkContainer {
	margin-top: 20px;
}

#linkContainer a {
	color: #4a90e2;
	text-decoration: none;
}

#linkContainer a:hover {
	text-decoration: underline;
}

.link-preview p.link-preview-scrollable {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #fff;
	max-width: 300px;
	/* Set a maximum width */
	overflow-x: auto;
	/* Enable horizontal scrolling */
	word-break: break-all;
	margin-bottom: 10px;
	white-space: nowrap;
}

.link-preview a {
	color: #4a90e2;
	text-decoration: none;
}

.link-preview a:hover {
	text-decoration: underline;
}

.file-info {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #fff;
	text-align: left;
	display: inline-block;
}

.file-info p {
	margin: 10px 0;
}

.file-info b {
	display: block;
}


footer {
	margin-top: 60px;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #ccc;

}

.footer-links {
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 12px;
	font-weight: 400;
    flex-wrap: wrap;
}

footer a,
.small-link {
	color: #4a90e2;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
}

footer a:hover,
.small-link:hover {
	text-decoration: underline;
}

p.small-link-wrap {
	margin-top: 20px;
	color: #ccc;
}

p.warning {
	font-weight: 400;
	margin-top: 30px;
	color: purple;
	max-width: 450px;
	text-align: justify;
	margin: 10px auto 20px;
	line-height: 24px;
}

p.introtext {
	font-size: 14px;
	color: darkgrey;
	margin-bottom: 20px;
	max-width: 450px;
	text-align: center;
	margin: 10px auto 20px;
	line-height: 24px;
}


/* Toast notification styles */
#toast {
	visibility: hidden;
	min-width: 250px;
	width: 300px;
	margin-left: -150px; /* Adjusted to center horizontally */
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 14px;
	line-height: 1.5em;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

#filePreview, 
#fileContent {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.note {
	border: 2px solid #ffcc00;
	background-color: #fff8e1;
	padding: 12px;
	margin: 20px 0;
	border-radius: 5px;
	color: #333;
	font-size: 14px;
	line-height: 1.5;
	max-width: 300px;
	width: 300px;
	margin: 10px auto 20px;
}

.note h3 {
	margin-top: 0;
	color: #ff9900;
}

.note p {
	margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 5px;
}

.modal-buttons {
    text-align: center;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

div#loading {
	display: none;
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, #3498db 0%, #3498db 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
	background-size: 200% 100%;
	animation: loading 2s linear infinite;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.modal-body {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        margin: 5% auto;
        padding: 10px;
    }
}

@keyframes loading {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0 0;
	}
}

p em {
	font-size: 14px;
}